.admin-bookings .bookings-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.admin-bookings .bookings-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-green);
}

.admin-bookings .booking-card {
  background-color: var(--color-green-transparent);
  border-radius: var(--radius-md);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.admin-bookings .booking-list-heading {
  padding: 0 1.5rem;
  border-bottom: 1px solid var(--color-green);
}

.admin-bookings .booking-info,
.admin-bookings .booking-list-heading {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  flex: 1;
  width: 100%;
}

.admin-bookings .booking-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.admin-bookings .booking-actions {
  display: flex;
  justify-content: center;
}

.admin-bookings .booking-actions button {
  width: 4rem;
  height: 4rem;
}
