.profile-dropdown {
  position: relative;
}

.profile-button {
  background: var(--color-green);
  color: var(--color-primary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-sm);
  transition: background-color 0.2s;
}

.profile-button:hover {
  background-color: #749474;
}

.dropdown-arrow {
  transition: transform 0.2s;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--color-white);
  border: 1px solid #ddd;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  min-width: 170px;
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.dropdown-menu-navlink {
  display: flex;
  align-items: center;
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  text-align: left;
  border: none;
  background: none;
  color: var(--color-green);
  cursor: pointer;
  font-size: var(--font-sm);
  transition: background-color 0.2s;
}

/* .dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: var(--color-primary);
} */

.logout-btn {
  display: flex;
  align-items: center;
}

/* .logout-btn:hover {
  background-color: #ffebee;
} */
