.change-password-section {
  display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
	width: 100%;
	height: auto;
}

.password-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
