.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-lg);
  color: var(--color-green);
  position: fixed;
  width: 100%;
  z-index: 10;

  background: transparent;
  transition: all 0.5s ease;
}

.header-scrolled {
  background: var(--color-bg);
  /* backdrop-filter: blur(10px); */
  box-shadow: var(--shadow-md);
}

.header nav {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  font-size: var(--font-sm);
}

.desktop-nav a:hover {
  color: var(--color-hover);
}
.header > nav > button {
  background-color: transparent;
}
