.link-button {
  font-size: var(--font-md);
  border: none;
  border-radius: var(--radius-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.link-button.xxs {
  height: auto;
  width: fit-content;
  font-size: var(--font-sm);
  /* padding: 5px 10px; */
}

.link-button.xs {
  height: auto;
  width: auto;
  font-size: var(--font-sm);
  padding: 0.5rem 1rem;
}

.link-button.sm {
  height: 4rem;
  width: 20rem;
}

.link-button.md {
  height: 4rem;
  width: 30rem;
}

.link-button.green {
  background-color: var(--color-green);
  color: var(--color-bg);
}

.link-button.transparent {
  background-color: transparent;
  color: var(--color-green);
}

.link-button.link-button.transparent:hover {
  color: var(--color-hover);
}

.link-button.green:hover {
  background-color: var(--color-hover);
  transform: scale(1.02);
}
