.introduction-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.introduction-cards > :nth-child(1) > .icon {
  background-color: var(--color-green-transparent);
}

.introduction-cards > :nth-child(2) > .icon {
  background-color: var(--color-pink-transparent);
}

.introduction-cards > :nth-child(3) > .icon {
  background-color: var(--color-beige-transparent);
}
