.how-it-works-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.how-it-works-section > .steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.how-it-works-section > :nth-child(1) > .step {
  background-color: var(--color-beige-transparent);
}

.how-it-works-section > :nth-child(2) > .step {
  background-color: var(--color-green-transparent);
}

.how-it-works-section > :nth-child(3) > .step {
  background-color: var(--color-pink-transparent);
}

.how-it-works-section .step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 100px;
  margin-bottom: var(--spacing-sm);
}

.how-it-works-section .step > p {
  font-size: var(--font-lg);
  color: var(--color-green);
}
