.user-booking-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-booking-card-content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: var(--color-pink-transparent);
  padding: 1.5rem;
  border-radius: var(--radius-lg);
}

.user-booking-time-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-booking-time-info p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-green-light);
}

.user-booking-time-info .booking-description {
  color: var(--color-green-light);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* .user-booking-time-info h3 {
  margin-bottom: 0;
} */

.user-booking-card-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: end;
  text-align: right;
}

.user-booking-card-options p {
  font-size: var(--font-md);
  color: var(--color-green);
}
